[Desktop Entry]
Type=Application
Version=1.0

Name=Qobine
Comment=Unofficial client for Qobuz

Exec=qobine-gtk
Icon=io.github.sofusa.qobine

Categories=Audio;Music;Player;
StartupNotify=true
Terminal=false
